<% if resource.errors.any? %>
  <div class="alert">
    <h2><%= resource.errors.count %>個の入力エラー</h2>

    <% resource.errors.full_messages.each do |message| %>
     <ul>
      <li><%= message %></li>
     </ul>
    <% end %>
  </div>
<% end %>
