// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*トップページレイアウト*/
/*画像部分*/
.swiper{
  position: relative;
  width: 70%;
  height: 600px;
  opacity: 0.5;
  background-color: black;
}

@media screen and(max-width: 480px){
  .swiper{
    width: 80%;
    height: 300px;
  }
}

.swiper-wrapper{
  width: 100%;
}

:root{
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}

.swiper-slide{
  width: 100%;
  height: 100%;
  margin: auto;
}

.swiper-image-size{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-text{
  display: block;
  position: absolute;
  top: 270px;
  left: 160px;
  color: white;
  font-family: "HG正楷書体-PRO";
  font-weight: bold;
  font-size: 50px;
  z-index: 2;
}

@media screen and(max-width: 480px){
  .swiper-text{
    top: 140px;
    left: 40px;
    font-size: 15px;
  }
}

.withdraw-flash-message{
  width: 250px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
/*各種ボタン部分*/
.login-list{
  height: 300px;
  margin-top: 50px;
  padding-top: 50px;
}

.button{
  display: block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-bottom: 50px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #FF6600;
}