// Place all the styles related to the public/shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//shopレイアウト

//一覧ページレイアウト
.index-shop-map-api{
  width: 100%;
}
//店舗登録ページレイアウト
.new-shop-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}

.new-shop-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

.new-shop-button{
  display: block;
  width: 120px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: 50px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  background-color: #FF6600;
}

//店舗詳細画面タイトル
.show-shop-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}

.show-shop-table{
   margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

.show-shop-link-button{
  display: block;
  width: 200px;
  margin: auto;
  margin-top: 25px;
  background-color: #FF6600;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

//店舗一覧ページレイアウト