// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//会員情報タイトル
.show-user-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}
//会員情報レイアウト
.show-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}
//会員情報リンクボタンレイアウト
.show-user-link-box{
  width: 100%;
}

.show-user-link-button{
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: #FF6600;
}

.show-user-link-button-text{
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.show-user-edit-button{
  width: 400px;
  margin: auto;
  background-color: #FF9872;
  text-align: center;
}

.show-user-edit-button-text{
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

//会員情報編集画面タイトル
.edit-user-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}

.edit-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

.edit-user-button{
  display: block;
  width: 120px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  background-color: #FF6600;
  font-size: 25px;
  font-weight: bold;
}

//ログイン中のユーザが登録した店舗一覧レイアウト
.user-shops-index-title{
  display: block;
  width: 200px;
  margin-top: 80px;
  margin-left: 100px;
  text-align: center;
  background-color: #FF6600;
}

.user-shops-index-card{
  width: 70%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  background-color: white;
}

.user-shops-index-image{
  width: 400px;
  height: 250px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.user-shops-index-info-table{
  width: 300px;
  margin-left: 40px;
}

.user-shops-index-rate-table{
  padding-left: 100px;
}

.user-shops-index-button{
  width: 200px;
  height: 40px;
  margin-left: 30px;
  margin-top: 180px;
}

.user-shops-index-link-button{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 3px solid black;
}
