// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//会員情報タイトル
.show-user-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}
//会員情報レイアウト
.show-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}
//会員情報リンクボタンレイアウト
.show-user-link-box{
  width: 100%;
}

.show-user-link-button{
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  background-color: #FF6600;
}

.show-user-link-button-text{
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

.show-user-edit-button{
  width: 400px;
  margin: auto;
  background-color: #FF9872;
  text-align: center;
}

.show-user-edit-button-text{
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

//会員情報編集画面タイトル
.edit-user-title{
  display: block;
  width: 200px;
  margin-top: 100px;
  margin-left: 500px;
  text-align: center;
  background-color: #FF6600;
}

.edit-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}

.edit-user-button{
  display: block;
  width: 120px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  background-color: #FF6600;
  font-size: 25px;
  font-weight: bold;
}

.edit-user-withdraw-link-button{
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  background-color: #FF3300;
  border: 2px solid black;
}

//ログイン中のユーザが登録した店舗一覧レイアウト
.user-shops-index-title{
  display: block;
  width: 200px;
  margin-top: 80px;
  margin-left: 100px;
  text-align: center;
  background-color: #FF6600;
}

.user-shops-index-card{
  width: 70%;
  height: 300px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  background-color: white;
}

.user-shops-index-image{
  width: 400px;
  height: 250px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.user-shops-index-info-table{
  width: 300px;
  margin-left: 40px;
}

.user-shops-index-rate-table{
  padding-left: 100px;
}

.user-shops-index-button{
  width: 200px;
  height: 40px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: 130px;
}

.user-shops-index-link-button{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 3px solid black;
}

.user-shops-index-edit-link-button{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FF9872;
  border: 3px solid black;
}

//会員退会確認画面レイアウト

.user-withdraw-box{
  width: 100%;
  height: 900px;
}

.user-withdraw-title{
  display: block;
  width: 200px;
  text-align: center;
  margin-left: 400px;
  margin-top: 200px;
  background-color: #FF6600;
}

.user-withdraw-select{
  width: 40%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: auto;
}

.user-withdraw-cancel-button{
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
}

//会員投稿コメント一覧画面

.user-withdraw-button{
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FF6600;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
}

.user-comment-title{
  display: block;
  background-color: #FF6600;
  width: 250px;
  margin-left: 200px;
  margin-top: 100px;
}

.user-comment-box{
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 200px;
}

.user-comment-table{
  margin: auto;
  background-color: white;
  border-collapse: collapse;
  border: 2px solid black;
}

.user-comment-table th{
  border-bottom: 2px solid black;
  border-left: 1px solid black;
}

.col-1{
  width: 400px;
}

.col-2{
  width: 200px;
}

.col-3{
  width: 600px;
}

.user-comment-table td{
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.user-comment-info-link{
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  margin-top: 50px;
  background-color: #FF6600;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid black;
}