<% if user_signed_in? %>
  <div class="name-search-form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, :placeholder => "ðŸ”åº—åã‚’å…¥åŠ›", class:"name-search-form-text-field" %>
      <%= f.submit "æ¤œç´¢", class: "name-search-button" %>
    <% end %>
  </div>
<% end %>