// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//管理者側トップページレイアウト
.admin-top{
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-top-button{
  display: block;
  width: 400px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #FF6600;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
}