// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//会員情報詳細ページレイアウト
.admin-show-user-title{
  display: block;
  width: 200px;
  height: 30px;
  margin-top: 50px;
  margin-left: 100px;
  line-height: 30px;
  text-align: center;
  background-color: #FF6600;
}

.admin-show-user-edit-link{
  text-decoration: none;
  color: black;
}

.admin-show-user-card{
  width: 70%;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  border: 2px solid black;
}

.admin-show-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 120px 15px;
}

.admin-show-user-button{
  width: 350px;
  margin-left: auto;
  margin-right: 20px;
  text-align: center;
}

.admin-show-user-edit-link{
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FF6600;
  border: 2px solid black;
}

.admin-show-user-status{
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 20px;
}

//管理者側会員詳細画面コメント一覧レイアウト
.admin-show-user-comments-title{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  border: 5px solid black;
  border-bottom: 2px solid black;
}

.admin-show-user-comments-card{
  width: 70%;
  margin: auto;
  background-color: white;
  border: 2px solid black;
}

.admin-show-user-comments-table{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

.admin-show-user-comments-table th{
  border-bottom: 3px solid black;
  padding: 10px;
}

.admin-show-user-comments-table td{
  border-bottom: 1px solid black;
  padding: 8px;
  text-align: center;
}

.admin-show-user-comments-delete-button{
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: #FF6600;
}

//管理者側会員情報編集ページレイアウト
.admin-edit-user-withdraw-message{
  display: block;
  width: 400px;
  height: 200px;
  line-height: 200px;
  margin: auto;
}

.admin-edit-user-withdraw-text{
  display: block;
  text-align: center;
}

.admin-edit-user-index-link-button{
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FF6600;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
}

//管理者側会員一覧画面レイアウト

.admin-index-user-title{
  display: block;
  width: 200px;
  height: 30px;
  margin-top: 50px;
  margin-left: 100px;
  line-height: 30px;
  text-align: center;
  background-color: #FF6600;
}

.admin-index-user-card{
  width: 70%;
  margin: auto;
  margin-top: 50px;
  background-color: white;
  border: 2px solid black;
}

.admin-index-user-table{
  margin: auto;
  border-collapse: separate;
  border-spacing: 120px 15px;
}

.admin-index-user-button{
  width: 350px;
  margin-left: auto;
  margin-right: 20px;
  text-align: center;
}

.admin-index-user-edit-link{
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #FF6600;
  border: 2px solid black;
}


.admin-index-user-show-link{
  display: inline-block;
  width: 150px;
  margin-right: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
}
.admin-withdraw-flash-message{
  width: 250px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.admin-index-user-status{
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 20px;
}