/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*全体色*/
body{
  background-color: #777777;
}
/*ヘッダーレイアウト*/
header{
  background-color: #FF6600;
  height: 80px;
  display: flex;
  align-items :center;
}

.logo{
  font-family: "HG正楷書体-PRO";
  font-size: 30px;
  text-shadow: 5px 3px 3px #888888;
}
/*ログインステータス*/
.login-status-text{
  display: block;
  margin-left: 500px;
  font-size: 30px;
}
/*メニューバーレイアウト*/
nav{
  margin: 0 20px 0 auto;
}

ul{
  display: flex;
  margin-bottom: 30px;
}

li{
  list-style: none;
  height: 25px;
  margin-right: 25px;
}

.list-box{
  display: block;
  background-color: gray;
  text-decoration: none;
  color: black;
}