<div class="user-withdraw-box">

  <h2 class="user-withdraw-title">会員退会確認画面</h2>

  <div class="user-withdraw-select">
    <h2>この会員を強制退会させますか？</h2>
  　<%= link_to "キャンセル", users_my_page_path, class:"user-withdraw-cancel-button" %>
  　<%= link_to "強制退会", withdraw_admin_user_path(@user.id), method: :patch, class:"user-withdraw-button" %>
  </div>
</div>
